@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  width: 1440px;
  font-family: "Poppins", sans-serif;
}
.form {
  margin-right: 0px;
  margin-top: 200px;
}
.popup {
  width: 450px;
  height: 30px;
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  color: hsl(244, 32%, 90%);
  margin-top: 100px;
  margin-left: 150px;
  padding-left: 70px;
  padding-top: 5px;
  font-weight: 400;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  font-size: 15px;
  width: 520px;
  height: 400px;
}
.left {
  width: 50%;
  box-sizing: border-box;
}
.right {
  width: 50%;
  box-sizing: border-box;}
  
h1,
p {
  color: hsl(240, 27%, 96%);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-left: 150px;
  padding-top: 200px;
}
p {
  padding-left: 150px;
}
.field {
  background-color: #fffffa;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 150px;
  padding-top: 30px;
}
a {
  text-decoration: none;
  color: hsl(0, 95%, 43%);
  font-size: 10px;
}
input {
  width: 400px;
  height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 2px;
  border: 1px solid hsl(246, 25%, 77%);
}
button {
  width: 400px;
  height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 2px;
  border: 1px solid hsl(246, 25%, 77%);
  background-color: hsl(154, 59%, 51%);
  color: #fffffa;
}
.foot {
  width: 400px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 10px;
  color: hsl(249, 10%, 26%);
}
@media screen and (max-width:375px){
  .flex-container{
    flex-direction: column;
	}
  .popup{
    width: 325px;
    height: 50px;
    text-align: center;
    padding-right: 50px;
  }
  .field{
    width: 325px;
  }
  input{
    width: 305px;
    margin-left: 10px;
  }
  button{
    width: 305px;
    margin-left: 10px;
  }
  .foot{
    width: 305px;
    padding-right: 30px;
    text-align: center;
  }
}
  .form {
    padding: 30px 40px;	

}
.form-control{
  position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;

}
.form-control input:focus{
  outline: 0;
  border-color: rgb(170, 36, 36);
}
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
